---
import "@fontsource-variable/newsreader/opsz-italic.css";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Info">
    <section id="root">
        <h1 class="first">Info</h1>
        <section id="base">
            <section class="row">
                <section class="item">
                    <h2>What is AEGEE?</h2>
                    <p>
                        We are a travel and social association. This means that
                        besides about five to six trips a year, we also organise drinks
                        every week and lots of other activities in and around
                        Delft!
                    </p>
                </section>
                <section class="item">
                    <h2>What kind of trips do you do?</h2>
                    <p>
                        We organise around five to six trips every year. For example, a
                        train trip to the Czech Republic or exploring beautiful
                        Slovenia by car from Budapest. Besides big trips, we
                        also have hitchhiking competitions and weekend trips.
                    </p>
                </section>
                <section class="item">
                    <h2>Wat voor activiteiten zijn er?</h2>
                    <p>
                        Besides our trips, our committees also organise lots of
                        big and small activities. Weekly drinks are organised,
                        an annual Christmas dinner, boat trips, creative
                        evenings and much more!
                    </p>
                </section>
            </section>
            <section class="row">
                <section class="item">
                    <h2>How much does it cost?</h2>
                    <p>
                        A one-year membership with AEGEE costs 50 euros. Sound
                        good? Then sign up <a
                            href="https://aegee-delft.nl/en/lid-worden">here</a
                        >!
                    </p>
                </section>
                <section class="item">
                    <h2>What does that get me?</h2>
                    <p>
                        AEGEE-Delft is the place to enjoy free sociability, make
                        new connections and find friends for life. You also
                        develop yourself by organising or joining impressive
                        events and trips!
                    </p>
                </section>
                <section class="item">
                    <h2>Are there committees and social clubs?</h2>
                    <p>
                        Yes indeed! We have a committee or social club for
                        everyone they lie on. For example, the ComPASS organises
                        our drinks, the KOOKT puts on dinners, the EventsCom
                        comes up with the best activities and there are many
                        more. We also have quiet social clubs that form a band,
                        go to films or browse books.
                    </p>
                </section>
            </section>
        </section>
    </section>
</BaseLayout>

<style lang="scss">
    h1.first {
        font-size: 9rem;
        padding-top: 10rem;
        @media (min-width: 768px) {
            padding: 10rem 0 0 30rem;
        }
        width: 100%;
        align-self: flex-start;
        color: white;
        font-family: "Newsreader Variable", serif;
        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    #base {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        & > section {
            color: white;

            display: flex;

            justify-content: space-evenly;
            hr {
                margin: 0;
                border: 1px solid white;
            }
            & > section {
                width: 25%;
                @media (max-width: 768px) {
                    width: 100%;
                }
                a {
                    // color: white;
                    color: purple;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                & > section {
                    width: 100%;
                }
            }
        }
    }

    #root {
        padding: 1rem;
    }
</style>
