---
import "@fontsource-variable/newsreader";
import "@fontsource-variable/newsreader/wght-italic.css";
import ImageTextSection from "../../components/ImageTextSection.astro";
import bg from "../../images/travel_1.png";
import bg2 from "../../images/travel_2.png";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Travel" preloadImages={[bg, bg2]}>
  <ImageTextSection image={bg}>
    <h1 class="first lower"><span class="i">Travel</span></h1>
  </ImageTextSection>
  <ImageTextSection image={bg2} full={true}>
    <h1 class="first">Our <span class="i">trips</span></h1>
    <section id="base">
      <section class="item">
        <h2>LOCATIONS</h2>
        <hr />
        <p>
          We travel all over Europe and experience all it has to offer. During
          our trips, we visit both big cities and small villages. We explore
          both the most beautiful nature and the most vibrant cities.
        </p>
      </section>
      <section class="item">
        <h2>5-6 TIMES PER YEAR</h2>
        <hr />
        <p>
          AEGEE-Delft organises around 5-6 trips per year. These are 3-4 big
          trips of a week or longer and some smaller trips such as a weekend
          trip.
        </p>
      </section>
      <section class="item">
        <h2>HITCHHIKING</h2>
        <hr />
        <p>
          To make travelling as fun and cheap as possible, we support you in
          hitchhiking to your destination. We give hitchhiking courses and
          organise weekend trips with a hitchhiking competition. Everything to
          prepare you for this unique way of travelling.
        </p>
      </section>
      <div class="line-break"></div>
      <section class="item">
        <h2>VARIOUS TRIPS</h2>
        <hr />
        <p>
          Our trips vary in purpose, location and length so that everyone can
          find a trip that suits them. For example, we have the big Summer trip
          that last year went to Budapest and Slovenia, the train trip to Czech
          Republic in the TU holidays and a Winter sports trip to Deux Alpes. We
          also went to Hamburg for a weekend and organised a hitchhiking
          competition.
        </p>
      </section>
      <section class="item">
        <h2>AFFORDABLE</h2>
        <hr />
        <p>
          Because as fellow students we know that you want to travel as much as
          possible on the smallest possible purse, we always make sure that we
          can offer our trips as cheaply as possible. If there is money left
          over you get it back, openly and honestly!
        </p>
      </section>
      <section class="item">
        <h2>OTHER AEGEE'S</h2>
        <hr />
        <p>
          During our travels around Europe, we always try to visit other AEGEE
          locales in Europe. It's always nice to make connections with other
          European students and to be included in their culture and traditions.
        </p>
      </section>
    </section>
  </ImageTextSection>
</BaseLayout>

<style lang="scss">
  h1.first {
    font-size: 9rem;
    color: white;
    font-family: "Newsreader Variable", serif;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
    .i {
      font-family: "Newsreader Variable", serif;

      font-style: italic;
    }
  }

  .lower {
    text-align: left;
    padding-top: 20rem !important;
    // padding-right: 20rem !important;
    @media (min-width: 768px) {
      padding-top: 22rem !important;

      padding-left: 28rem !important;
    }
  }

  #base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;

    .item {
      max-width: 20rem;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .line-break {
      width: 100%;
      @media (max-width: 768px) {
        display: none;
      }
    }

    hr {
      margin: 0;
      border: 1px solid white;
    }
  }
</style>
