---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import bg from "../images/gezelligheid_front.png";
import ImageTextSection from "../components/ImageTextSection.astro";
import gezellig1 from "../images/gezelligheid_1.png";
import gezellig2 from "../images/gezelligheid_2.png";
import gezellig3 from "../images/gezelligheid_3.png";
import "@fontsource-variable/newsreader";
---

<BaseLayout title="Gezelligheid">
  <ImageTextSection image={bg} classNames={["fixUrself"]}>
    <h1 class="first">Gezelligheid</h1>
  </ImageTextSection>
  <section id="dingen">
    <section class="fotodingen">
      <Image src={gezellig1} alt="Social Drink" />
      <h1>BORREL</h1>
      <hr />
      <p>
        Elke woensdag hebben we een borrel met optioneel ook een diner. Deze
        borrels hebben themas, leuke activiteiten en, natuurlijk, lekkere
        drankjes om van te genieten.
      </p>
    </section>
    <section class="fotodingen">
      <Image src={gezellig2} alt="Activities" />
      <h1>ACTIVITEITEN</h1>
      <hr />
      <p>
        Elke weeek zijn er leuke activiteiten om aan mee te doen, zoals
        filmavonden en wijnproeverijen. Deze worden georganiseerd door
        commissies, het bestuur of op initiatief van leden.
      </p>
    </section>
    <section class="fotodingen">
      <Image src={gezellig3} alt="Parties" />
      <h1>FEESTEN</h1>
      <hr />
      <p>
        Door het jaar heen worden er ook verschillende feesten georganiseerd. We
        reizen zelfs door Nederland heen naar feesten georganiseerd door andere
        AEGEE Locals!
      </p>
    </section>
  </section>
</BaseLayout>

<style lang="scss">
  h1.first {
    font-size: 8.5rem;
    color: white;
    font-family: "Newsreader Variable", serif;
    margin: 0;
    padding-top: 80vh;
    text-align: left;
    
    @media (max-width: 768px) {
      font-size: 4rem;
      padding-top: 70vh;
      text-align: center;
    }
  }

  #dingen {
    padding-top: 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    hr {
      margin: 0;
      border: 1px solid white;
    }

    .fotodingen {
      padding: 1rem;
      text-align: center;
      @media (min-width: 768px) {
        width: 30%;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  
  .fixUrself {
    background-position-x: right;
  }
</style>
