---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@fontsource-variable/newsreader/opsz-italic.css";
---

<BaseLayout title="Info">
    <section id="root">
        <h1 class="first">Info</h1>
        <section id="base">
            <section class="row">
                <section class="item">
                    <h2>Wat is AEGEE?</h2>
                    <p>
                        We zijn een reis- en gezelligheidsvereniging. Dit
                        betekent dat we naast zo'n vijf reizen per jaar ook elke
                        week een borrel organiseren en heleboel andere
                        activiteiten in en rond Delft!
                    </p>
                </section>
                <section class="item">
                    <h2>Wat voor reizen doen jullie?</h2>
                    <p>
                        We organiseren elk jaar zo'n vijf reizen. Bijvoorbeeld
                        een treinreis naar Tsjechië of met auto's vanuit
                        Budapest het prachtige Slovenië ontdekken. Naast grote
                        reizen hebben we ook liftwedstrijden en weekendtrips.
                    </p>
                </section>
                <section class="item">
                    <h2>Wat voor activiteiten zijn er?</h2>
                    <p>
                        Naast onze reizen organiseren onze commissies ook heel
                        veel grote en kleine activiteiten. Wekelijks wordt er
                        een borrel georganiseerd, jaarlijks is er een kerstdiner
                        en zijn er boottochten, creatieve avonden en nog veel
                        meer!
                    </p>
                </section>
            </section>
            <section class="row">
                <section class="item">
                    <h2>Hoeveel kost het?</h2>
                    <p>
                        Een lidmaatschap bij AEGEE voor een jaar kost 50 euro.
                        Klinkt dat goed? Schrijf je dan <a
                            href="https://aegee-delft.nl/lid-worden">hier</a
                        > in!
                    </p>
                </section>
                <section class="item">
                    <h2>Wat krijg ik daarvoor?</h2>
                    <p>
                        AEGEE-Delft is dé plek om te genieten van vrije
                        gezelligheid, nieuwe connecties te maken en vrienden
                        voor het leven te vinden. Ook ontwikkel je jezelf door
                        indrukwekkende evenementen en reizen te organiseren of
                        mee te maken!
                    </p>
                </section>
                <section class="item">
                    <h2>Zijn er commissies en disputen?</h2>
                    <p>
                        Jazeker! We hebben voor iedereen een commissie of
                        dispuut die ze ligt. Zo organiseert de ComPASS onze
                        borrels, zet de KOOKT diners neer, bedenkt de EventsCom
                        de beste activiteiten en zijn er nog veel meer. Ook
                        hebben we rustige disputen die een band vormen, naar
                        films gaan of boeken brespreken.
                    </p>
                </section>
            </section>
        </section>
    </section>
</BaseLayout>

<style lang="scss">
    h1.first {
        font-size: 9rem;
        padding-top: 10rem;

        width: 100%;
        align-self: flex-start;
        color: white;
        font-family: "Newsreader Variable", serif;
        @media (min-width: 768px) {
            padding: 10rem 0 0 30rem;
        }
        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    #base {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        & > section {
            color: white;

            display: flex;

            justify-content: space-evenly;
            align-items: center;
            hr {
                margin: 0;
                border: 1px solid white;
            }
            & > section {
                width: 25%;
                @media (max-width: 768px) {
                    width: 100%;
                }
                a {
                    // color: white;
                    color: purple;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                & > section {
                    width: 100%;
                }
            }
        }
    }

    #root {
        padding: 1rem;
    }
</style>
