---
import BaseLayout from "../layouts/BaseLayout.astro";
import "@fontsource-variable/newsreader/opsz-italic.css";
import ImageTextSection from "../components/ImageTextSection.astro";
---

<BaseLayout title="Info">
    <section id="root">
        <h1 class="first">Info</h1>
        <section id="base">
            <section class="row">
                <section class="item">
                    <h2>Wat doet AEGEE?</h2>
                    <p>Reizen, borrelen, algehele gezelligheid!</p>
                </section>
                <section class="item">
                    <h2>Hoe duur is het?</h2>
                    <p>50 euro per jaar!</p>
                </section>
                <section class="item">
                    <h2>Wat krijg ik daar voor?</h2>
                    <p>Vrienden voor het leven!</p>
                </section>
            </section>
            <section class="row">
                <section class="item">
                    <h2>Wat voor activiteiten zijn er?</h2>
                    <p>Reizen, borrels, en heel veel commissie activiteiten!</p>
                </section>
                <section class="item">
                    <h2>Waar kan ik me inschrijven?</h2>
                    <p>
                        Op de inschrijf pagina! Klik <a
                            href="https://aegee-delft.nl/lid-worden">hier</a>!
                    </p>
                </section>
                <section class="item">
                    <h2>Hebben jullie ook commissies?</h2>
                    <p>
                        Jazeker! Alles van de borrels verzorgen tot reizen
                        organiseren kan bij ons!
                    </p>
                </section>
            </section>
        </section>
    </section>
</BaseLayout>

<style lang="scss">
    h1.first {
        font-size: 9rem;
        padding-top: 10rem;
        @media (min-width: 768px) {
            padding: 10rem 0 0 30rem;
        }
        width: 100%;
        align-self: flex-start;
        color: white;
        font-family: "Newsreader Variable", serif;
        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }

    #base {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        & > section {
            color: white;

            display: flex;

            justify-content: space-evenly;
            hr {
                margin: 0;
                border: 1px solid white;
            }
            & > section {
                width: 25%;
                @media (max-width: 768px) {
                    width: 100%;
                }
                a {
                    // color: white;
                    color: purple;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                & > section {
                    width: 100%;
                }
            }
        }
    }

    #root {
        padding: 1rem;
    }
</style>
