---
import BaseLayout from "../layouts/BaseLayout.astro";
import bg from "../images/travel_1.png";
import bg2 from "../images/travel_2.png";
import ImageTextSection from "../components/ImageTextSection.astro";
import "@fontsource-variable/newsreader";
import "@fontsource-variable/newsreader/wght-italic.css";
---

<BaseLayout title="Travel" preloadImages={[bg, bg2]}>
  <ImageTextSection image={bg}>
    <h1 class="first lower"><span class="i">Travel</span></h1>
  </ImageTextSection>
  <ImageTextSection image={bg2} full={true}>
    <h1 class="first">Onze <span class="i">reizen</span></h1>
    <section id="base">
      <section class="item">
        <h2>LOCATIONS</h2>
        <hr />
        <p>
          We reizen door heel Europa. Tijdens onze reizen bezoeken we niet
          alleen de grote en populaire steden, maar doen we ook moeite om de
          kleinere onbekende plaatsen te bezoeken.
        </p>
      </section>
      <section class="item">
        <h2>HITCHHIKEN</h2>
        <hr />
        <p>
          Om onze reizen zo leuk en goedkoop mogelijk te maken, bieden we altijd
          liften aan als vervoermiddel. We geven cursussen om onze leden hierbij
          te ondersteunen en moedigen het in het algemeen aan, omdat het erg
          leuk is!
        </p>
      </section>
      <section class="item">
        <h2>BETAALBAAR</h2>
        <hr />
        <p>
          Om onze reizen zo inclusief mogelijk te maken, houden we de prijzen zo
          laag mogelijk. De prijs varieert per reis, maar over het algemeen zijn
          ze zeer betaalbaar.
        </p>
      </section>
      <div class="line-break"></div>
      <section class="item">
        <h2>5 - 6 KEER PER JAAR</h2>
        <hr />
        <p>
          We organiseren ongeveer 5 tot 6 reizen per jaar. Deze variëren in
          lengte, locatie en prijs.
        </p>
      </section>
      <section class="item">
        <h2>LENGTE</h2>
        <hr />
        <p>
          We organiseren minstens twee 10-daagse reizen: tijdens de TU-vakantie
          en de zomervakantie. We organiseren ook verschillende weekendreizen
          die iets korter zijn.
        </p>
      </section>
      <section class="item">
        <h2>ANDERE AEGEE'S</h2>
        <hr />
        <p>
          Als we naar andere landen reizen, proberen we altijd andere
          AEGEE-locals in Europa te bezoeken. Dit geeft ons rondleidingen van
          locals en stelt onze leden in staat om bevriend te raken met de leden.
        </p>
      </section>
    </section>
  </ImageTextSection>
</BaseLayout>

<style lang="scss">
  h1.first {
    font-size: 9rem;
    color: white;
    font-family: "Newsreader Variable", serif;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
    .i {
      font-family: "Newsreader Variable", serif;

      font-style: italic;
    }
  }

  .lower {
    text-align: left;
    padding-top: 20rem !important;
    // padding-right: 20rem !important;
    @media (min-width: 768px) {
      padding-top: 22rem !important;

      padding-left: 28rem !important;
    }
  }

  #base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;

    .item {
      max-width: 20rem;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .line-break {
      width: 100%;
      @media (max-width: 768px) {
        display: none;
      }
    }

    hr {
      margin: 0;
      border: 1px solid white;
    }
  }
</style>
