---
import BaseLayout from "../layouts/BaseLayout.astro";
import bg from "../images/travel_1.png";
import bg2 from "../images/travel_2.png";
import ImageTextSection from "../components/ImageTextSection.astro";
import "@fontsource-variable/newsreader";
import "@fontsource-variable/newsreader/wght-italic.css";
---

<BaseLayout title="Travel" preloadImages={[bg, bg2]}>
  <ImageTextSection image={bg}>
    <h1 class="first lower"><span class="i">Reizen</span></h1>
  </ImageTextSection>
  <ImageTextSection image={bg2} full={true}>
    <h1 class="first">Onze <span class="i">reizen</span></h1>
    <section id="base">
      <section class="item">
        <h2>LOCATIES</h2>
        <hr />
        <p>
          We reizen door heel Europa en ervaren alles wat het te bieden heeft.
          Tijdens onze reizen bezoeken we zowel grote steden en kleine dorpjes.
          We verkennen zowel de mooiste natuur als de meest levendige steden.
        </p>
      </section>
      <section class="item">
        <h2>5-6 KEER PER JAAR</h2>
        <hr />
        <p>
          AEGEE-Delft organiseert per jaar zo'n 5-6 reizen. Dit zijn 3-4 grote
          reizen van een week of langer en een aantal kleinere reizen zoals een
          weekendtrip.
        </p>
      </section>
      <section class="item">
        <h2>LIFTEN</h2>
        <hr />
        <p>
          Om zo leuk en goedkoop mogelijk te kunnen reizen ondersteunen we je in
          het liften naar de bestemming. We geven liftcursussen en organiseren
          weekendreizen met een liftwedstrijd. Alles om jou klaar te stomen voor
          deze unieke manier van reizen.
        </p>
      </section>
      <div class="line-break"></div>
      <section class="item">
        <h2>VERSCHILLENDE REIZEN</h2>
        <hr />
        <p>
          Onze reizen variëren in doel, locatie en lengte zodat iedereen een
          reis kan vinden die bij hen past. Zo hebben we de grote Zomerreis die
          afgelopen jaar naar Budapest en Slovenië ging, de treinreis naar
          Tsjechië in de TU-vakantie en een Wintersport reis naar Deux Alpes.
          Ook zijn we een weekend naar Hamburg geweest en hebben we een
          liftwedstrijd georganiseerd.
        </p>
      </section>
      <section class="item">
        <h2>BETAALBAAR</h2>
        <hr />
        <p>
          Omdat wij als medestudenten weten dat je zoveel mogelijk wilt reizen
          op een zo klein mogelijke portemonnee zorgen we er altijd voor dat we
          onze reizen zo goedkoop mogelijk kunnen aanbieden. Als er geld
          overblijft krijg je dat weer terug, open en eerlijk!
        </p>
      </section>
      <section class="item">
        <h2>ANDERE AEGEE'S</h2>
        <hr />
        <p>
          Tijdens onze reizen door Europa proberen we altijd andere AEGEE-locals
          in Europa te bezoeken. Het is altijd gezellig om connecties te maken
          met andere Europese studenten en om meegenomen te worden in hun
          cultuur en tradities.
        </p>
      </section>
    </section>
  </ImageTextSection>
</BaseLayout>

<style lang="scss">
  h1.first {
    font-size: 9rem;
    color: white;
    font-family: "Newsreader Variable", serif;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 3rem;
    }
    .i {
      font-family: "Newsreader Variable", serif;

      font-style: italic;
    }
  }

  .lower {
    text-align: left;
    padding-top: 20rem !important;
    // padding-right: 20rem !important;
    @media (min-width: 768px) {
      padding-top: 22rem !important;

      padding-left: 28rem !important;
    }
  }

  #base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;

    .item {
      max-width: 20rem;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .line-break {
      width: 100%;
      @media (max-width: 768px) {
        display: none;
      }
    }

    hr {
      margin: 0;
      border: 1px solid white;
    }
  }
</style>
