---
interface Props {
    title?: string;
}

const { title: title2 } = Astro.props;
const title = `${title2 || "Van Vreemden naar Vrienden"} - AEGEE-Delft`;
---

<title>{title}</title>
<meta name="author" content="AEGEE-Delft" />
<meta
    name="description"
    content="AEGEE-Delft's OWee website! From Strangers to Friends!"
/>

<meta
    property="og:title"
    content="AEGEE-Delft OWee: Van Vreemden naar Vrienden!"
/>
<meta
    property="og:description"
    content="WIP"
/>
