---
import "@fontsource/bebas-neue";
import { Image } from "astro:assets";
import logoWit from "../images/logoWit.svg";
---

<footer id="bottom">
    <div class="switch">
        <p class="l">Location</p>
        <div>
            <p><a href="https://broederlazarus.nl" target="_blank" rel="noopener noreferrer">Broeder Lazarus</a></p>
            <p><a href="https://www.google.com/maps/place/Broeder+Lazarus/@52.0109217,4.3595854,17z/data=!3m1!4b1!4m6!3m5!1s0x47c5b5db5d62f5ef:0x9ddd7f36f7672789!8m2!3d52.0109217!4d4.3621657!16s%2Fg%2F11h92yzgfs?entry=ttu&g_ep=EgoyMDI2MDYwMS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Molslaan 104</a></p>
            <p>2611RP</p>
            <p>Delft</p>
        </div>
    </div>
    <div>
        <p class="l">Socials</p>
        <div>
            <p><a href="https://www.instagram.com/owee_aegeedelft/" target="_blank" rel="noopener noreferrer">AEGEE Owee Instagram</a></p>
            <p><a href="https://www.instagram.com/aegeedelft/" target="_blank" rel="noopener noreferrer">AEGEE Instagram</a></p>
            <p><a href="https://www.tiktok.com/@aegeedelft" target="_blank" rel="noopener noreferrer">AEGEE Tiktok</a></p>
        </div>
    </div>
    <div>
        <p class="l">phone number</p>
        <div>
            <p><a href="tel:+31612345678">+31 6 12345678</a> WIP</p>
        </div>
    </div>
    <div>
    </div> <!--sorry, ik moest snel iets beunen-->
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
        <Image src={logoWit} alt="AEGEE-Delft logo" width="100" />
    </div>
</footer>

<style lang="scss">
    footer {
        background-color: #70086e;
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        color: white;
        justify-content: space-around;
    }
    footer a { color: inherit;}
    div {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1vmin;
        text-align: left;
        p {
            margin: 0;
            padding: 0;
        }
    }

    .l {
        font-family: "Bebas Neue", sans-serif;
        font-size: x-large;
    }
    .switch {
        padding: 1vmin;
    }
</style>
