---
import "@fontsource-variable/newsreader";
import "@fontsource/open-sans";
import { Image } from "astro:assets";
import logoWit from "../images/logoWit.svg";
---

<footer id="bottom">
    <div class="switch">
        <p class="l">Location</p>
        <div>
            <p><a href="https://broederlazarus.nl" target="_blank" rel="noopener noreferrer">Broeder Lazarus</a></p>
            <p><a href="https://www.google.com/maps/place/Broeder+Lazarus/@52.0109217,4.3595854,17z/data=!3m1!4b1!4m6!3m5!1s0x47c5b5db5d62f5ef:0x9ddd7f36f7672789!8m2!3d52.0109217!4d4.3621657!16s%2Fg%2F11h92yzgfs?entry=ttu&g_ep=EgoyMDI2MDYwMS4wIKXMDSoASAFQAw%3D%3D" target="_blank" rel="noopener noreferrer">Molslaan 104</a></p>
            <p>2611RP</p>
            <p>Delft</p>
        </div>
    </div>
    <div>
        <p class="l">Linktree</p>
        <div>
            <p><a href="https://linktr.ee/owee.aegeedelft">See links here</a></p>
        </div>
    </div>

    <div class="logo">
        <Image src={logoWit} alt="AEGEE-Delft logo" width="150" />
    </div>
</footer>

<style lang="scss">s
    footer {
        background-color: #70086e;
        margin: 0;
        padding: 1rem clamp(2rem, 6vw, 6rem);
        padding-left: 0.75rem;
        padding-right: clamp(6rem, 12vw, 10rem);
        width: 100%;
        height: fit-content;
        position: relative;
        overflow: visible;
        display: flex;
        color: white;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
    }
    footer a { color: inherit;}
    div {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 0;
        text-align: left;
        p {
            margin: 0;
            padding: 0;
        }
    }

    .l {
        font-family: "Newsreader Variable", "Open Sans", sans-serif;
        font-size: x-large;
    }
    .switch {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 1rem;
        right: 1rem;
        transform: none;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        pointer-events: none;
    }
</style>
