---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";
import "@fontsource-variable/newsreader/opsz-italic.css";
import "@fontsource/bebas-neue";

interface Props {
    image: ImageMetadata;

    logo: ImageMetadata;
}

const { image, logo } = Astro.props;

const newImg = await getImage({ src: image, width: 1920 });
---

<section>
    <Image src={logo} width={1920} alt="Avontuur aan de horizon" />
    <p><a href="https://aegee-delft.nl/lid-worden">Inschrijven?</a></p>
</section>

<style define:vars={{ imgSrc: `url(${newImg.src})` }} lang="scss">
    section {
        background-image: var(--imgSrc);
        background-image: var(--imgSrc);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        @media (max-width: 768px) {
            min-height: 50vh;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
    p {
        
        font-size: 3rem;
        color: white;
        text-align: center;
        background: rgb(34, 193, 195);
        background: linear-gradient(
            0deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(253, 187, 45, 1) 100%
        );
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        a {
            color: white;
            text-decoration: none;
            font-family: "Bebas Neue", sans-serif;
            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>
