---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";

interface Props {
    image: ImageMetadata;
    full?: boolean;
    classNames?: string[];
}

const { image, classNames = [], ...rest } = Astro.props;

const newImg = await getImage({ src: image, width: 1920 });
---

<section class:list={classNames} {...rest}>
    <div>
        <slot />
    </div>
</section>

<style
    lang="scss"
    define:vars={{
        imgSrc: `url(${newImg.src})`,
    }}
>
    section {
        background-image: var(--imgSrc);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 90vh;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    div {
        margin: 0;
        padding: 0;
    }
</style>
